/*[class*="col-"] {*/
/*float: left;*/
/*margin-left: 2%;*/
/*margin-bottom: 2%;*/
/*}*/
/**/
/*[class*="col-"]:first-child {*/
/*margin-left: 0;*/
/*}*/
/**/
/*.container {*/
/*width: 90%;*/
/*margin: 0 auto;*/
/*background: #ccc;*/
/*}*/
/**/
.cal-row {
    clear: both;
    height: 500px;
    width: 100%;
}

.btn-row {
    clear: both;
}

.col-begin {
    float: left;
}

.col-end {
    float: right;
}

.col-date {
    border-style: solid;
    width: 32%;
    height: 100%;
    float: left;
}

.col-tech {
    overflow-y: auto;
    border-style: solid;
    width: 32%;
    height: 100%;
    float: left;
}

.col-action {
    overflow-y: auto;
    border-style: solid;
    width: 32%;
    height: 100%;
    float: left;
    text-align: center;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

h3 {
    color: darkred;
    text-align: center;
}

p {
    color: gray;
    text-align: center;
}

.schedule-btn {
    position: relative;
    display: inline-block;
    background-color: #f44336;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.schedule-btn .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.schedule-btn:hover .tooltiptext {
    visibility: visible;
    cursor: pointer;
}

#beginDate {
    display: block;
    font-size: 10px;
}

#endDate {
    display: block;
    font-size: 10px;
}


